pipeline/FourthCoffeeIterator.json
{
	"name": "FourthCoffeeIterator",
	"properties": {
		"activities": [
			{
				"name": "GetFourthCoffeeFiles",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ForthCoffeeFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetFourthCoffeeFiles",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetFourthCoffeeFiles').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "FourthCoffeeExport",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SOURCE_FILENAME": {
										"value": "@item().name",
										"type": "Expression"
									},
									"TARGET_FILENAME": {
										"value": "@concat('fourth_coffee/', toLower(item().name))",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "FourthCoffee"
		},
		"annotations": [],
		"lastPublishTime": "2021-03-17T19:48:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}